<!-- footer section starts  -->
<section class="footer">
    <div class="links">
        <a class="btn" href="#home">главная</a>
        <a class="btn" href="#about">компания</a>
        <a class="btn" href="#services">категории</a>
        <a class="btn" href="#projects">товары</a>
        <a class="btn" href="#contact">контакты</a>
    </div>

    <div class="credit">
        Made by <span>nurlan izdenov</span> | all rights reserved!
    </div>
</section>

<style>
    .footer {
        text-align: center;
    }

    .footer .links .btn {
        margin: 0.5rem;
    }

    .footer .credit {
        font-size: 2rem;
        color: var(--black);
        text-transform: capitalize;
        margin-top: 2rem;
        padding-top: 1rem;
    }

    .footer .credit span {
        color: var(--green);
    }
</style>
